.expression,
.input,
.output {
    display: flex;
    justify-content: center;
}

.output {
    padding: 50px;
    gap: 75px;
}

.operand1-display,
.operand2-display,
.operator-display,
.solution {
    width: 300px;
    text-align: center;
    padding: 30px;
    font-size: 32px;
}

.operator-display {
    width: 75px;
}

.operator-display {
    width: 100px;
}

.operand1-input,
.operator-input,
.operand2-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 30px;
    gap: 8px;
}

.operator-input {
    width: 100px;
}

button {
    padding: 0;
}

.digit {
    width: 75px;
    aspect-ratio: 1;
}

.operator {
    width: 75px;
    aspect-ratio: 1;
}

.enter-button,
.solution {
    width: 75px;
    aspect-ratio: 1.5;
}

.solution {
    border: 1px solid;
}